<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- cloud image is not working -->
    <ci-img
      src="https://shopthiscity.app/mobsupport/images/homepage/3.png?44382"
      class="height-210"
      [ratio]="1"
    ></ci-img>

    <!-- simple image is working fine -->
    <!--  <img
      class="height-210"
      src="https://shopthiscity.app/mobsupport/images/homepage/3.png?44382"
    /> -->
  </div>
</ion-content>
